altair==4.0
chainlit==1.2.0
click==8.1.7
db-dtypes==1.1.1
faker==19.6.2
groq==0.5.0
iobind==0.0.1
koalas==0.32.0
matplotlib==3.7.2
numba==0.60.0
numpy==1.26
openai==1.13.3
oscrypto==1.3.0
pandas==2.1.1
plotly==5.16.1
prophet==1.1.4
psycopg2-binary==2.9.6
pyodbc==4.0.39
requests==2.31.0
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
spacy==3.6.1
snowflake-sqlalchemy==1.5.1
databricks-sql-connector==2.9.3
SQLAlchemy==1.4.47
statsmodels==0.14.0
streamfy==0.3.3
xgboost==1.7.6
yfinance==0.2.27
PyMuPDF==1.23.26
tiktoken==0.6.0
langchain==0.1.12
langchain-core==0.1.32
langchain-text-splitters==0.0.1
langchain-openai==0.0.8
pyexiftool==0.5.5
python-multipart==0.0.9
torch==2.0.1
torchvision==0.15.2
streamlit==1.15.2
protobuf==3.20.3
grpcio_status==1.48.2
proto-plus==1.24.0
googleapis_common_protos==1.61.0
google-api-core==2.12.0
google-cloud-core==2.3.3
google-auth=2.23.4
google-cloud-bigquery==3.12.0